.codeBlock {
  border: 1px solid #000000;
  background-color: white;
  padding: 5px;
  margin: 5px;
}


.pane {
  border: 1px solid #003300;
  font-family: Verdana, sans-serif;
  position: fixed;
  margin-top: 20px;
  margin-left: 20px;
}

.error {
  color: #000000;
  font-weight: bold;
  border: 2px solid #cc0000;
  margin: 5px;
  padding: 5px;
  display: none;
}

.pane > .title {
  font-size: larger;
  background-color: #0000cc;
  padding: 10px;
  color: #ffffff;
}


.diminutive {
  padding: 5px;
  font-size: smaller;
}

form {
  text-align: center;
}


.innerPane > .title {
  background-color: #000033;
  color: #ffffff;
  padding: 10px;
}

.small {
  font-size: smaller;
}

.links {
  margin: 5px;
}

/* Assignments */

.asgn {
  font-family: Verdana, sans-serif;
}

.asgn > .title {
  font-size: larger;
  background-color: #0000cc;
  color: #ffffff;
  padding: 10px;
}

.shutdown {
  font-family: Verdana, sans-serif;
  font-size: 20px;
  color: #FF9900;
  text-align: center;
  padding: 30px;
  background-color: #000000;
}

/*
 * Button bar
 */

.buttonBar {
  position: relative;
}

.buttonBar .right {
  position: absolute;
  right: 10px;
  top: 0px;
}

.buttonBar .button {
  text-decoration: underline;
  display: inline;
  cursor: pointer;
  padding: 5px;
}

.subtext {
  color: #333333;
  font-size: 10px;
  font-family: serif;
}

.form {
  padding-left: 30px;
  padding-right: 30px;
}

.dialog {
  border: 1px solid #000000;
  background-color: #ccccff;
  min-height: 400px;
  font-family: Verdana, sans-serif;
}


.dialog > .title {
  background-color: #0000cc;
  color: #ffffff;
  padding: 5px;
  margin-bottom: 5px;
}

